.header {
  background-color: #a5a7aa;
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #00b315;
}

.navbar-brand:hover {
  color: #00b315;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #a5a7aa;
  color: #00b315;
}

.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:active {
  background-color: #e9ecef;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.profiles .nav-link {
  margin-right: 1rem;
}

.profiles .nav-link:hover {
  color: #00b315;
}
/* Keyframes for color-change animation */
@keyframes color-change {
  0% {
    background-color: rgb(231, 224, 224);
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}
.brand-animation {
  display: inline-block;
  animation: color-change 10s infinite;
  padding: 5px 10px;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.brand-animation:hover {
  color: #fff;
}
